<% include partials/header %>
<h1>CAMPGROUNDS PAGE</h1>

<p>Welcome to the Yelp Camp grounds</p>

<p>
<a href="/campgrounds/new">Add New Campgrounds</a>
</p>
<a href="/">Return to Home page</a>


<!-- loop through the array of items and display the names and images -->
<% campgrounds.forEach(function(campground){ %>
   <div>
       <h4><%= campground.name%></h4>
       <img src="<%=campground.image%>" alt="">
   </div>
<% }) %>

<% include partials/footer %>